
.col-md-6 {
	height:100%; 
	position:fixed;
}

.col-md-4 {
	float:right;	
}

.row {
	height:100%;
}

#map-canvas {
	height:100%;
}

#eventsList {
	list-style-type: none;
}

h1 {
	font-size: 4em;
	margin-bottom: 40px;
}

h4 {
	margin-bottom: 10px;
}

#categories {
	padding: 20px;
	background-color: lightgray;
}

#latestInfo {
	margin-top:20px;
	padding: 20px;
	background-color: lightgray;	
}


html { 
	height: 100% 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
}